.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-image: url("../images/header-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}

.header__title {
  color: #ffffff;
  margin-bottom: 70px;
}
